* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Arial;
    src: url('../fonts/ArialRegular.ttf') format('truetype'),
    url('../fonts/ArialRegular.woff') format('woff');
}


body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.slick-prev {
    padding-left: 10px;
    padding-bottom: 100px;
    z-index: 5;
}

.slick-next {
    padding-right: 110px;
    padding-bottom: 100px;
    z-index: 5;
}

.slick-prev:before {
    content: url("/images/img_5.png");
}

.slick-next:before {
    content: url("/images/img_4.png");
}


.accordion .accordion-item {
    margin-top: 10px;
    border: #FFFFFF;
    max-width: 855px;
}
.accordion .ui-accordion-header {
    background:  linear-gradient(0deg, #076BFF 0%, #007BFF 100%);
    cursor: pointer;
    color: #FFFFFF;
}
.accordion .ui-accordion-content {
    padding: 20px;
    background: #FFF;
    border: #FFF;
}



.accordion .ui-accordion-header {
    position: relative;
}
.accordion .ui-accordion-header-icon {
    content: '';
    position: absolute;
    top: 30px;
    right: 10px;
    display: inline-block;
    width: 40px;
    height: 30px;
    background: url(/images/img_2.png) 50% 50% no-repeat;
}
.accordion .ui-accordion-header-active .ui-accordion-header-icon {
    background-image: url(/images/img_3.png);
}


